SUPABASE_URL=
SUPABASE_ANON_KEY=
GOIANIA_PORTAL_CPF=71361170115
GOIANIA_PORTAL_PASSWORD=12345678
ROBOT_HOST=0.0.0.0
ROBOT_PORT=8092
PLAYWRIGHT_USER_DATA_DIR=./.playwright-profile
PLAYWRIGHT_CHANNEL=chrome
PLAYWRIGHT_HEADLESS=false
